<!-- Add new Education -->
<div class="panel panel-success">
    <div class="panel-heading">New Education</div>
    <div class="panel-body">
        <form action="/admin/new-education" method="POST">
            <label>School</label>
            <br>
            <input type="text" placeholder="school" name="school">
            <br>
            <label>Course</label>
            <br>
            <input type="text" placeholder="course" name="course">
            <br>
            <label>Link</label>
            <br>
            <input type="text" placeholder="website" name="link">
            <br>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>