<!-- Add new Job -->
<div class="panel panel-info">
    <div class="panel-heading">New Job</div>
    <div class="panel-body">
        <form action="/admin/new-job" method="POST">
            <label>Company</label>
            <br>
            <input type="text" placeholder="company" name="company">
            <br>
            <label>Position Held</label>
            <br>
            <input type="text" placeholder="description" name="description">
            <br>
            <label>Link</label>
            <br>
            <input type="text" placeholder="link" name="link">
            <br>
            <label>Still Working On?</label>
            <br>
            <select name="flag">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <br>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>