<%- include('partials/header') %>

    <div class="container">
        <h1 align="center">Add Data</h1>

        <%- include('partials/forms/new-education') %>

        <%- include('partials/forms/new-job') %>
    </div>

<%- include('partials/footer') %>