<%- include('partials/header') %>

<div class="container">
    <h1 align="center">Settings</h1>

    <form>
        <input type="text" placeholder="Tag Name">
        <button type="submit">Update</button>
    </form>
    <!--<a href="#">-->
        <!--<span class="glyphicon glyphicon-plus"></span>-->
    <!--</a>-->

    <button class="btn"><i class="glyphicon glyphicon-plus"></i>Add More</button>
</div>

<%- include('partials/footer') %>