/**
	STYLESHEET
	Home Page
 */


@import url("fonts.css");

body {
	margin: 0 auto;
}
.heading {
	width: 100%;
	height: 250px;
	text-align: center;
	display: table;
}
.heading h1 {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Source Code Pro', monospace;
}

h2 {
	font-family: 'Rubik', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'ZCOOL XiaoWei', serif;*/
}

p { 
	font-family: 'Nunito Sans', sans-serif;
}


.post-wrap img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.side-widget img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	object-fit: cover;
}

/**
	Footer and Widgets content
 */
.insta-pic{
	width: 120px;
	height: 120px;
	object-fit: cover;
}

img.col-md-10 {
	width: 126px;
	height: 126px;
	object-fit: cover;
	padding: 0;
}

/*
	Containers
 */

.col-md-9 {
	 padding: 5px;
 }
.col-md-3 {
	padding: 3px;
}
.side-widget{
	border: 1px solid #ebebeb;
	margin-bottom: 50px;
	padding: 20px;
}

/*
	Facebook Images
 */
.fb-image {
	width: 100%;
}

/*
	Bootstrap Carousel
 */
.slide-caption {
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	/*color:*/
}

.header .carousel-item {
	height: 100vh;
	min-height: 350px;
	max-height: 550px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-inner img {
	width: 100%;
	heigh: 100%;
}

img.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}